<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Init Vue App</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <div id="appdiv">
        <form ref="userform" action="" @submit.prevent="submit()">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" v-model="data.name">
            </div>
            

            <div class="form-group">
                <button type="submit">Submit</button>
            </div>
        </form>

        <h1>Guitars</h1>
        <div class="guitars">
            <div v-for="guitar in guitars" :key="guitar.id">
                <h2>{{guitar.title}}</h2>
                <p>Stock: {{guitar.stock}}</p>
                <span v-if="guitar.stock === 0" :style="{ color: outofstockcolor }">Out of Stock</span>
                <span v-else :style="{ color: instockcolor }">In Stock</span>
            </div>
        </div>

        <h1>Color picker</h1>
        <div class="color-picker">
            <input type="color" v-model="color">
            <p>Selected color: {{ color }}</p>
        </div>

        <h1>Guitars2</h1>
        <div class="guitars">
            <div v-for="guitar in guitars2" :key="guitar.id">
                <h2>{{guitar.title}}</h2>
                <span v-if="guitar.stock === 0" :style="outofStock2">Out of Stock</span>
                <span v-else :style="inStock2">In Stock</span>
            </div>
        </div>


        <form @submit.prevent>
             <div class="form-group">
                <label for="count">count</label>
                <input type="number" id="count" name="count" min="0" max="10" step="1" v-model.number="count">

            </div>
             <div class="form-group">
                <label for="price">price</label>
                <input type="number" id="price" name="price" min="0" max="10000" step="100" v-model.number="price">
            </div>


        </form>
        <div v-if="fullPrice !== 0">Full price: ${{ formattedFullPrice }}</div>

    </div>

    <script src="main.js"></script>
</body>
</html>
